<div class="header" ng-show="headerCtrl.showNavHeader()">
     <ul class="nav nav-pills pull-right">
          <li ng-repeat="tab in headerCtrl.tabs" ng-class="{'active': headerCtrl.atLocation(tab.path)}">
               <a ng-href="#{{headerCtrl.resolvePath(tab.path)}}">{{ tab.title }}</a></li>
     </ul>
     <h3 class="text-muted hidden-xs">
          <div class="left week-arrow" ng-show="headerCtrl.showLeftArrow()" ng-click="headerCtrl.leftArrowClicked()">&#10094;</div>
               Week {{ headerCtrl.userWeek.selectedWeek }}
          <div class="right week-arrow" ng-show="headerCtrl.showRightArrow()" ng-click="headerCtrl.rightArrowClicked()">&#10095;</div>
     </h3>
     <span class="week-select visible-xs">
          <select ng-model="headerCtrl.userWeek.selectedWeek" ng-options="week.value as week.label for week in headerCtrl.weeks">
     </span>
</div>