<nav class="navbar navbar-absolute-top navbar-default" role="navigation" ng-if="headerCtrl.showNavHeader()">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="headerCtrl.showDropdown = !headerCtrl.showDropdown">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">NFL Picks</a>
        </div>
        <div class="collapse navbar-collapse jz" ng-class="{'in': headerCtrl.showDropdown }">
            <ul class="nav navbar-nav">
                <li ng-repeat="tab in headerCtrl.tabs" ng-class="{'active': headerCtrl.atLocation(tab.path)}">
                    <a ng-href="#{{headerCtrl.resolvePath(tab.path)}}" ng-click="headerCtrl.showDropdown = false">{{ tab.title }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
