.login {
    .login-button {
        margin-top: 20px;
    }
    input[type="text"] {
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        font-size: 24pt;
        height: auto;
    }
}