.navbar {
    .navbar-header {
        .navbar-toggle:focus, .navbar-toggle:hover {
            background: $navbar-default-bg;
        }
        .navbar-brand {
            color: $brand-dark;
            font-size: 24px;
            padding-left: 4px;
            padding-right: 30px;
        }
    }
    .navbar-toggle {
        margin-right: 4px;
    }
}
.navbar-absolute-top {
    @extend .navbar-fixed-top;
    position: relative;
}