$games-font-size-xs: 14px;
$games-font-size-sm: 18px;

.games {
    .games-header {
        font-size: $games-font-size-xs;
        padding: 10px;
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
    }
    .game {
        font-size: $games-font-size-xs;
        padding: 0;
        text-align: center;
        vertical-align: middle;
        margin: 2px 0;

        .team {
            padding: 10px;
        }
        .pickable {
            cursor: pointer;
        }
        .pickable:hover {
            background-color: #FBFBE8;
        }
        .selected {
            margin-top: 0px;
            color: $brand-primary;
        }
        .selected.favorite {
            border-left: solid $brand-primary 3px;
        }
        .selected.underdog {
            border-right: solid $brand-primary 3px;
        }
        .selected.push {
            color: #777777;
            border-color: #777777;
        }
        .selected.correct {
            color: $brand-success;
            border-color: $brand-success;
        }
        .selected.incorrect {
            color: $brand-danger;
            border-color: $brand-danger;
        }

        .spread {
            padding: 10px;
        }
    }
    .game.even {
        background: $table-bg-accent;
    }
}

@media screen and (min-width: 768px) {
    .games {
        .games-header, .game {
            font-size: $games-font-size-sm;
        }
    }
}

.all-picks .table {
    td, th {
        text-align: center;
    }
    td.correct {
        @extend .success;
    }
    td.incorrect {
        @extend .danger;
    }
    td.push {
        background-color: #cccccc;
    }

    .all-picks-header {
        text-transform: uppercase;
    }

    margin: 0;
}