.standings {

    .panel-title {
        // color: #F8E0E0;
        font-size: 20px;
    }

    .panel-body {
        padding: 0px floor($grid-gutter-width / 2);
    }

    .standing {
        font-size: 16px;
        padding: 10px;
        // font-weight: bold;
    }

    // font-size: 16px;
    // padding: 5px;
    // text-align: center;
    // vertical-align: middle;
    .even {
        background: $table-bg-accent;
    }
    .team-divider {
        background: #ccc;
    }

    .me {
        background-color: #FFFFE3;
    }
}