.top-indicator {
    position: fixed;
    text-align: center;
    top: 0;
    background: $label-info-bg;
    color: white;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    width: 100%;
    -webkit-transition: opacity 3s ease;
    -moz-transition: opacity 3s ease;
    -ms-transition: opacity 3s ease;
    -o-transition: opacity 3s ease;
    transition: opacity 3s ease;
    z-index: 1000;
}
.top-indicator.active {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transition: opacity 0;
    -moz-transition: opacity 0;
    -ms-transition: opacity 0;
    -o-transition: opacity 0;
    transition: opacity 0;
}
.top-indicator.success {
    background: $label-success-bg;
}
.top-indicator.error {
    background: $label-danger-bg;
}