.top-indicator {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.top-indicator .top-indicator-label {
    position: relative;
    text-align: center;
    background: $label-info-bg;
    color: white;
    opacity: 0.9;
}

.top-indicator.success .top-indicator-label {
    background: $label-success-bg;
}
.top-indicator.error .top-indicator-label {
    background: $label-danger-bg;
}
@media (min-width: $screen-sm-min) {
    .top-indicator .top-indicator-label {
        border-radius: 2px;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }
}
.top-indicator .top-indicator-label.ng-hide {
    opacity:0;
    -webkit-transition: opacity 1s ease 1s;
    -moz-transition: opacity 1s ease 1s;
    -ms-transition: opacity 1s ease 1s;
    -o-transition: opacity 1s ease 1s;
    transition: opacity 1s ease 1s;
}