$icon-font-path: "/app/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

// Custom imports JWZ
@import 'login';
@import 'picks';
@import 'topindicator';
// end Custom imports

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

.loading-spinner {
    margin: 70px;
}

.week-arrow {
    display: inline-block;
    cursor: pointer;
}
.week-select {
    padding-bottom: 5px;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Responsive: Portrait tablets and up */
@media (min-width: $screen-tablet) {
    .container {
        max-width: 730px;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
}

.no-border {
    border: 0;
}
.no-padding {
    padding: 0;
}