<div class="games">
    <div class="row">
        <div class="col-xs-6">
            <p><strong>Total Correct: </strong>{{picksView.gameHelper.getTotalCorrect(picksView.games, picksView.picks)}}</p>
        </div>
        <div class="col-xs-6 text-right">
            <div jz-week-picker></div>
        </div>
    </div>
    <div class="row games-header">
        <div class="col-xs-5 no-padding team">Home</div>
        <div class="col-xs-2 no-padding spread"><small class="text-muted">Spread</small></div>
        <div class="col-xs-5 no-padding team">Away</div>
    </div>
    <div ng-repeat="game in picksView.games">
        <div class="row game" ng-class="{ 'even': $even }">
            <div class="col-xs-5 home team"
                 ng-class="{
                     'selected': picksView.isPick(game, game.homeTeam),
                     'correct': picksView.gameHelper.isCorrect(game, game.homeTeam),
                     'incorrect': picksView.gameHelper.isIncorrect(game, game.homeTeam),
                     'push': picksView.gameHelper.isPush(game),
                     'pickable': picksView.isPickable(game, game.homeTeam)
                 }"
                 ng-click="picksView.pickTeam(game, game.homeTeam)">
                {{ game.homeTeam }}
            </div>
            <div class="col-xs-2 spread">
              {{ game.spread }}
            </div>
            <div class="col-xs-5 away team"
                 ng-class="{
                     'selected': picksView.isPick(game, game.awayTeam),
                     'correct': picksView.gameHelper.isCorrect(game, game.awayTeam),
                     'incorrect': picksView.gameHelper.isIncorrect(game, game.awayTeam),
                     'push': picksView.gameHelper.isPush(game),
                     'pickable': picksView.isPickable(game, game.awayTeam)
                 }"
                 ng-click="picksView.pickTeam(game, game.awayTeam)">
                {{ game.awayTeam }}
            </div>
        </div>
    </div>
</div>